# Dependencies
node_modules/

# Build and Apps Script
dist/
.clasp.json

# Testing and Coverage
coverage/

# Environment and Secrets
.env
credentials.json
*.log
npm-debug.log*

# OS specific
.DS_Store
